#IsItFriday {
  font-size: 4em;
  text-align: center;

  div {
    font-size: 0.6em;

    &.yes {
      font-size: 2em;
      color: green;
      -webkit-animation-name: 'pulse';
      -webkit-animation-duration: 500ms;
      -webkit-transform-origin: 50% 50%;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
    }

    &.no {
      font-size: 2em;
      color: red;
    }
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
    }
    30% {
      -webkit-transform: scale(1.5);
    }
    40% {
      -webkit-transform: scale(1.18);
    }
    50% {
      -webkit-transform: scale(1);
    }
    60% {
      -webkit-transform: scale(1);
    }
    70% {
      -webkit-transform: scale(1.15);
    }
    80% {
      -webkit-transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
}
