{
  "plugins": ["babel-plugin-styled-components",
    "@babel/proposal-class-properties"
  ],
  "presets": [
    "@babel/typescript", "@babel/react", ["@babel/env", {
      "targets": "> 0.25%, not dead",
      "loose": true
    }]
  ]
}
