@import url(http://fonts.googleapis.com/css?family=Montserrat);

html, body {
  height: 100%;
  font-family: 'Montserrat';
  background-color: #f1f1f1;
}

body {
  margin: 0;
}

#wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fb-like {
  margin-top: 30px;
}

#github {
  margin-top: 30px;

  img {
    opacity: 0.2;
  }
}

@import "components/IsItFriday/IsItFriday.less";
